*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  width: 15vw;
  aspect-ratio: 1/1;
  background-color: beige;
  .card{
    width: 15vw;
    aspect-ratio: 1/1;
  }

 
}