*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
body{
  background-color: rgb(194, 194, 194);
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.comida-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2vw;
  justify-content: center;
  margin-top: 1vw;

  

  .card{
    width: 17vw;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: .7vw;
    border: 1px solid rgb(63, 63, 63);
    font-family: "Varela Round", sans-serif; 
    display: flex;
    flex-direction: column;
    gap: 1vw;

    .ingre{
      margin-left: 4vw;
    }
    

    .categoria{
      font-size: 1vw;
      color: rgb(255, 140, 0);
      font-weight: 800;
      margin-top: 2vh;
      margin-left: 1vw;
      
    }
    .comida{
      font-weight: 900;
      margin-left: 1vw;
      
    }
    .provincia{
      font-size: 1vw;
      color: grey;
      margin-left: 1vw;
    }
    .ingredientes{
      margin-left: 2vw;
    }
  }

 
}
.addFood{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cuadro{
    margin-top: 15vh;
    background-color: white;
    width: 28vw;
    height: 50vh;
    border-radius: .7vw;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    


    label{
      font-family: "Varela Round", sans-serif;
  
    }
    .submit{
      border: none;
      border-radius: .7vh;
      width: 9vw;
      height: 4vh;
      font-family: "Varela Round", sans-serif;
      background-color: rgb(255, 140, 0);
      margin-left: 2vw;

      
  
    }
    .con{
      margin-top: 1vh;
    }
  }
}